body{
    background: #ffffff
     
    }
h1 { color: #f8fc20;
      background: #2c2c2c
  
    }

h1   {
    text-align: center;
    
    }
h2 {
    text-align: center
}
h3 {
    text-align: center
}
h4 {
    text-align: center
}
p{
    text-align: center
}

    
em strong{
        color:black;
    }
h3 strong {
    background: #ebc805

}



    
